
.breadcrumb-section {
  background: linear-gradient(82.93deg, #FFE6E6 0%, #F5FFFE 113.52%);
  padding: 38px;
  text-align: center;
  height: 97px;
  width: 100%;
}

.breadcrumb-section nav,
.breadcrumb-section .active {
  font-size: 16px;
  font-weight: 500;
  color: #393280;
}

.breadcrumb-section .separator {
  margin: 0 8px;
}



.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

.products-section {
  background: linear-gradient(73.93deg, #FFE5E5 11.18%, #F5FFFE 97.53%);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 20px;
  color: #393280;
  margin-bottom: 20px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 12px 8px;
  border-bottom: 1px solid #888888;
  border-top: 1px solid #888888;
  font-size: 16px;
  color: #393280;
  font-weight: 600;
}

td {
  padding: 15px 8px;
  font-size: 14px;
  color: #393280;
}

.book-cell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.book-cover {
  width: 45px;
  height: 60px;
  background: #ED553B;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.amount-control {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f9fafb;
  padding: 4px;
  border-radius: 6px;
  width: fit-content;
}
.subtotal{
  font-weight: 500;
  font-style: SemiBold;
  font-size: 14px;
  color: #393280;
}

td{
  font-weight: 500;
  font-style: SemiBold;
  font-size: 14px;
  color: #393280;
}

.amount-btn {
  width: 20px;
  height:20px;
  background: #393280;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.amount-btn:hover {
  background: #4d4979;
}

.amount-value {
  width: 30px;
  text-align: center;
  font-weight: 500;
}

.remove-btn {
  background-color: transparent;
  border: 1px solid #393280;
  border-radius: 4px;
  width: 20px;
  height:20px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #393280;
  cursor: pointer;
  transition: all 0.2s ease;
}

.remove-btn:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.remove-btn i {
  font-size: 15px;
  color: #393280;
  -webkit-text-stroke: 1px #393280;
}


.shipping-section {
  background: linear-gradient(81.34deg, #FFE5E5 6.61%, #F5FFFE 98.67%);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  grid-column: 1 / -1; 
  width: 850px;
}

.shipping-section .section-title{
  font-weight: 600;
  font-style: SemiBold;
  font-size: 30px;
  color: #000000;
}
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  color: #393280;
  margin-bottom: 15px;
}

input {
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 14px;
  background: white;
  gap :10px;
}


input:focus {
  outline: none;
  border-color: #a78bfa;
  box-shadow: 0 0 0 3px rgba(167, 139, 250, 0.1);
}

input ::placeholder{
  color: #09093766;
}



.cart-container{
  padding: 40px 0 0 50px;
}

.cart-summary {
  background: linear-gradient(180deg, #FFE5E5 0%, #F5FFFE 100%);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  top: 20px;
  width: 300px;
}
.cart-summary .section-title{
  font-weight: 500;
  font-style: SemiBold;
  font-size: 20px;
  color: #393280;
  border-bottom: 1px solid #BEBEBE;
  margin-bottom: 30px;
}
.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #393280;
}

.summary-row.total {
  padding-top: 15px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #393280;
}

.summary-row span{
  font-size: 18px;
  color: #393280;
  font-weight: 500;
}
.summary-row {
  border-bottom: 1px solid #BEBEBE;
}



.proceed-btn {
  width: 100%;
  padding: 14px;
  background:#ED553B;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 300px;
}

.proceed-btn:hover {
  background: linear-gradient(to right, #ea580c, #dc2626);
}
