<section class="change-password-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
          <img src="images/Picture.png" alt="Change Password Image" class="change-password-image" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="change-password-form-container">
          <div class="logo-container">
            <img src="images/Logo.png" alt="Logo" class="logo-image" />
          </div>
          <div class="text-center">
            <p class="welcome-text">Welcome back!</p>
            <h2 class="change-password-title">Change Your Password Easily !</h2>
          </div>
          <form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit(ChangePasswordForm)">
            <div class="mb-3">
              <label for="password" class="form-label">Old Password</label>
              <div class="password-wrapper">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                placeholder="**************"
                formControlName="password"
                [class.is-invalid]="
                  ChangePasswordForm.get('password')?.invalid &&
                  ChangePasswordForm.get('password')?.touched
                "
              />
              <i class="password-toggle-icon" (click)="togglePassword()"></i>
            </div>
            </div>
            @if (ChangePasswordForm.get('password')?.errors &&
            ChangePasswordForm.get('password')?.touched) {
            <div class="alert alert-danger">
              @if (ChangePasswordForm.get('password')?.errors?.['required']) {
              <p class="mb-0">Old password is required</p>
              } @if (ChangePasswordForm.get('password')?.errors?.['minlength']) {
              <p class="mb-0">Password must be at least 6 characters</p>
              }
            </div>
            }
            <div class="mb-3">
              <label for="password_new" class="form-label">New Password</label>
              <div class="password-wrapper">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                placeholder="**************"
                formControlName="password_new"
                [class.is-invalid]="
                  ChangePasswordForm.get('password_new')?.invalid &&
                  ChangePasswordForm.get('password_new')?.touched
                "
              />
              <i class="password-toggle-icon" (click)="togglePassword()"></i>
            </div>
            </div>
            @if (ChangePasswordForm.get('password_new')?.errors &&
            ChangePasswordForm.get('password_new')?.touched) {
            <div class="alert alert-danger">
              @if (ChangePasswordForm.get('password_new')?.errors?.['required']) {
              <p class="mb-0">New password is required</p>
              } @if (ChangePasswordForm.get('password_new')?.errors?.['minlength']) {
              <p class="mb-0">Password must be at least 6 characters</p>
              } @if (ChangePasswordForm.get('password_new')?.errors?.['pattern']) {
              <p class="mb-0">
                Password must contain: uppercase, lowercase, number, and special character
              </p>
              }
            </div>
            }
            <button type="submit" class="btn btn-change-password">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
