.forget-password-section {
  min-height: 100vh;
}

.container-fluid {
  width: 100%;
  height: 100vh;
  padding: 0 25px;
  padding: 0 !important;
  margin: 0 !important;
}


.row {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 !important;
}

.col-md-6 {
  width: 50%;
  padding: 0;
}

.image-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.forget-password-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-md-6:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  padding: 40px;
  padding-top: 60px;
}
.forget-password-form-container {
  width: 100%;
  max-width: 450px;
}
.logo-container {
  text-align: center;
  margin-bottom: 30px;
}
.logo-image {
  width: 60px;
  height: 60px;
}
.text-center {
  text-align: left;
  margin-bottom: 50px;
}
.welcome-text {
  color: #09093799;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.forget-password-title {
  color: #090937;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.form-label {
  display: block;
  color: #090937;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}
.form-control {
  width: 100%;
  background-color: #f4f4ff;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 60px;
}
.form-control::placeholder {
  color: #9ca3af;
}
.form-control:focus {
  outline: none;
  border-color: #6366f1;
}

.btn-forget-password {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 12px;
  color: #6366f1;
  background-color: #ffffff;
  border: 2px solid #e5e7eb;
}
.btn-forget-password:hover {
  border-color: #6251dd;
}

.alert-danger{
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  border-radius: 4px;
}
p {
  margin: 0;
  font-size: 0.875rem;
}
